name: CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.20', '1.19', '1.18' ]
        tags: [ 'strftime_native_errors', '' ]
      fail-fast: false
    name: "Go ${{ matrix.go }} test (tags: ${{ matrix.tags }})"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Go stable version
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
      - name: Test with coverage
        run: make STRFTIME_TAGS=${{ matrix.tags }} cover
      - name: Upload code coverage to codecov
        if: matrix.go == '1.20'
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.out
